*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#55bcf8;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20%;
    font-size: 1%;
}

/* MAIN */
main{
    width:100%;
    min-height:100vh;
    background:#4088cc;
    display:flex;
    flex-direction:column;
}

/* NAVBAR */
nav{
    width:100%;
    height:8vh;
    background:#2c6fb0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 40px;
}

/* LOGO */
#logo{
    font-size:1.8rem;
    font-weight:bold;
    color:white;
}

/* MENU */
nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li{
    color:white;
    cursor:pointer;
    transition:0.3s;
}

nav ul li:hover{
    color:#ffd000;
}

/* SECTION PRINCIPAL */
section{
    width:100%;
    height:85vh;
    background:lightblue;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

/* TITULO */
section h1{
    font-size:3.5rem;
    color:#1c3d5a;
    margin-bottom:20px;
    top: 15px;
    left: 50%;
    transform:translateX(-50%);

}

/* PARÁGRAFO */
section p{
    width:60%;
    font-size:1.2rem;
    color:#333;
    margin-bottom:30px;
}

/* BOTÃO */
button{
    padding:12px 30px;
    font-size:1rem;
    border:none;
    border-radius:8px;
    background:#2c6fb0;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1f4f80;
    transform:scale(1.05);
}
/* BOTÃO NO TOPO CENTRAL */
#topButton{
    position:fixed;
    top:15px;
    left:50%;
    transform:translateX(-50%);
    z-index:1000;
}

/* BOTÕES CANTO INFERIOR ESQUERDO */
.bottom-buttons{
    position:relative;
    bottom:20px;
    left:30px;
    display:flex;
    gap:20px;
}